<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/stylesheets/index.css" />
</head>

<body>
  <% const date = new Date(); %>
  <% let day = date.getDay(); %>
  <% var fullDate = (date.getMonth()+1) + '/' + date.getDate() + '/' + date.getFullYear(); %>
  <div class="background">
    <%- include('partials/header.ejs') %>
    <div class="subheader">
      <h2>Today's Goals <%-fullDate%></h2>
    </div>
    <div class="container">
      <div class="content">
        <% noneToday = true; %>
        <% if (locals.exercises) { %>
        <%for (let i = 0; i <
          locals.exercises.length; i++) { %>
        <% var numDays = locals.exercises[i]["numDays"].split(","); %>
        <% var complete = locals.exercises[i]["complete"].split(",");%>
        <% var index = numDays.indexOf(day.toString())%>
        <% var isCompletedForToday = false;%>
        <% if (index >= 0) { /*if today was found*/ %>
        <% isCompletedForToday = JSON.parse(complete[index]) %>
        <% if (isCompletedForToday)  { %>
        <div class="panel gold-panel" id="panel-<%-i%>">
          <%} else {%>
          <div class="panel" id="panel-<%-i%>">
            <%}%>
            <div
          <% if (isCompletedForToday)  {%>
            class="ex-name"
            <%} else {%>
            class="ex-name click-to-complete"
            onclick="complete(this.id)"
            <%}%>
          id="ex-name-<%-i%>">
            <%-locals.exercises[i]["name"]%>
          </div>
          <input type="text" class="invisible-<%-i%>" id="name-input-<%-i%>" name="name" />
          <% if (JSON.parse(locals.exercises[i]["isCardio"])) { %>
          <div class="ex-minutes" id="ex-minutes-<%-i%>">
            Minutes: <%-locals.exercises[i]["minutes"]%>
          </div>
          <input type="text" class="invisible-<%-i%>" id="minutes-input-<%-i%>" name="minutes" onkeyup="checkNumeric(this.id, this.value)" />

          <div class="invisible-warn-<%-i%>" id="invisible-warn-<%-i%>">
            Minutes must be a numeric value.
          </div>
          <% } else { %>
          <div class="ex-sets" id="ex-sets-<%-i%>">
            Sets: <%-locals.exercises[i]["sets"]%>
          </div>

          <div class="ex-reps" id="ex-reps-<%-i%>">
            Reps: <%-locals.exercises[i]["reps"]%>
          </div>

          <div class="ex-weight" id="ex-weight-<%-i%>">
            Weight: <%-locals.exercises[i]["weight"]%>
          </div>

          <input type="text" class="invisible-<%-i%>" id="sets-input-<%-i%>" name="sets" onkeyup="checkNumeric(this.id, this.value)" />
          <input type="text" class="invisible-<%-i%>" id="reps-input-<%-i%>" name="reps" onkeyup="checkNumeric(this.id, this.value)" />
          <input type="text" class="invisible-<%-i%>" id="weight-input-<%-i%>" name="weight" onkeyup="checkNumeric(this.id, this.value)" />

          <div class="invisible-warn-<%-i%>" id="invisible-warn-<%-i%>">
            Sets, Reps, & Weight must be numeric values.
          </div>
          <% } %>
          <div class="btn-div">
            <button type="button" class="edit btn" id="edit-<%-i%>" onclick="edit(this.id)">
              Edit
            </button>
            <button type="button" class="invisible-<%-i%>" id="save-<%-i%>" onclick="save(this.id)">
              Save
            </button>
            <button type="button" class="del btn" id="del-<%-i%>" onclick="del(this.id)">
              Delete
            </button>
          </div>
        </div>
        <form action="/edit-exercise" class="invisible-<%-i%>" id="edit-form-<%-i%>" method="post">
          <input type="hidden" name="ex-name" id="form-name-<%-i%>" />
          <input type="hidden" name="ex-sets" id="form-sets-<%-i%>" />
          <input type="hidden" name="ex-reps" id="form-reps-<%-i%>" />
          <input type="hidden" name="ex-weight" id="form-weight-<%-i%>" />
          <input type="hidden" name="ex-minutes" id="form-minutes-<%-i%>" />
          <input type="hidden" name="isCardio" id="isCardio-<%-i%>" />
          <input type="hidden" name="index" id="edit-index-<%-i%>" value="<%-i%>" />
          <input type="hidden" name="isMainPage" id="isMainPage-<%-i%>" value="true" />
        </form>
        <form action="/delete-exercise" class="invisible-<%-i%>" id="del-form-<%-i%>" method="post">
          <input type="hidden" name="index" id="del-index-<%-i%>" value="<%-i%>" />
          <input type="hidden" name="isMainPage" id="isMainPage-<%-i%>" value="true" />
        </form>
        <form action="/complete-exercise" class="invisible-<%-i%>" id="cmpl-form-<%-i%>" method="post">
          <input type="hidden" name="index" id="compl-index-<%-i%>" value="<%-i%>" />
        </form>
        <% noneToday = false %>
        <% } %>
        <% } %>
        <% if (noneToday) { %>
        <p class="none-today">You don't have any exercises due today!</p>
        <% } %> <% } else { %>
        <p class="nocard-text">
          Click <a href="/weights">Resistance</a> or
          <a href="/cardio">Cardio</a> to add new exercises!
        </p>
        <% } %>
      </div>
      <%- include('partials/index sidebar.ejs') %>
    </div>
  </div>
  <script>
    function complete(id) {
      let num = id.substring(8);
      document.getElementById("panel-" + num).className = "panel gold-panel";
      document.getElementById("compl-index-" + num).value = num;

      setTimeout(() => {
        document.getElementById("cmpl-form-" + num).submit();
      }, 3000);
    }

    function edit(id) {
      let num = id.substring(5);
      let nameText = document.getElementById("ex-name-" + num).innerText;

      if (document.getElementById("ex-sets-" + num)) {
        let setsText = document
          .getElementById("ex-sets-" + num)
          .innerText.replace(/\D/g, "");
        let repsText = document
          .getElementById("ex-reps-" + num)
          .innerText.replace(/\D/g, "");
        let weightText = document
          .getElementById("ex-weight-" + num)
          .innerText.replace(/\D/g, "");
        let inputs = document.getElementsByClassName("invisible-" + num);

        let name = inputs[0];
        let sets = inputs[1];
        let reps = inputs[2];
        let weight = inputs[3];

        name.value = nameText;
        sets.value = setsText;
        reps.value = repsText;
        weight.value = weightText;

        document.getElementById("ex-name-" + num).className =
          "ex-name"; /*removes the click-to-complete class*/
        document.getElementById("ex-name-" + num).style.display = "none";
        document.getElementById("ex-sets-" + num).style.display = "none";
        document.getElementById("ex-reps-" + num).style.display = "none";
        document.getElementById("ex-weight-" + num).style.display = "none";
        document.getElementById("edit-" + num).style.display = "none";
        document.getElementById("save-" + num).className = "btn";

        name.className = "input-text-" + num;
        sets.className = "input-text-" + num;
        reps.className = "input-text-" + num;
        weight.className = "input-text-" + num;
      } else {
        let minutesText = document
          .getElementById("ex-minutes-" + num)
          .innerText.replace(/\D/g, "");
        let inputs = document.getElementsByClassName("invisible-" + num);

        let name = inputs[0];
        let minutes = inputs[1];

        name.value = nameText;
        minutes.value = minutesText;

        document.getElementById("ex-name-" + num).style.display = "none";
        document.getElementById("ex-minutes-" + num).style.display = "none";
        document.getElementById("edit-" + num).style.display = "none";
        document.getElementById("save-" + num).className = "btn";

        name.className = "input-text-" + num;
        minutes.className = "input-text-" + num;
      }
    }

    function save(id) {
      let num = id.substring(5);
      document.getElementById("form-name-" + num).value =
        document.getElementById("name-input-" + num).value;
      document.getElementById("edit-index-" + num).value = num;

      if (document.getElementById("ex-sets-" + num)) {
        document.getElementById("isCardio-" + num).value = false;
        document.getElementById("form-sets-" + num).value =
          document.getElementById("sets-input-" + num).value;
        document.getElementById("form-reps-" + num).value =
          document.getElementById("reps-input-" + num).value;
        document.getElementById("form-weight-" + num).value =
          document.getElementById("weight-input-" + num).value;
      } else {
        document.getElementById("isCardio-" + num).value = true;
        document.getElementById("form-minutes-" + num).value =
          document.getElementById("minutes-input-" + num).value;
      }

      document.getElementById("edit-form-" + num).submit();
    }

    function del(id) {
      let num = id.substring(4);
      document.getElementById("panel-" + num).className = "panel gray-panel";

      setTimeout(() => {
        document.getElementById("del-form-" + num).submit();
      }, 1500);
    }

    function checkNumeric(id, text) {
      let num = id.split("-")[2];
      if (/[^0-9.]/.test(text)) {
        document.getElementById("invisible-warn-" + num).className = "warn";
      } else {
        document.getElementById("invisible-warn-" + num).className =
          "invisible-warn-" + num;
      }
    }
  </script>
</body>

</html>