<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/public/stylesheets/overview.css" />
  <link rel="stylesheet" href="/public/stylesheets/charts.min.css" />
</head>

<body>
  <div class="background">
    <%- include('partials/header.ejs') %>
    <div class="subheader">
      <h2>Overview</h2>
    </div>
    <div class="container">
      <div class="content">

        <%function normalize(min, max) {%>
        <%var delta = max - min;%>
        <%return function(val) {%>
        <%return (val - min) / delta;%>
        <%};%>
        <%}%>

      <%if (locals.exercises) {%>

        <%for (let i = 0; i < locals.exercises.length; i++) { %>

          <%var setsHistString = locals.exercises[i]["setsHist"].split(",");%>
          <%var repsHistString = locals.exercises[i]["repsHist"].split(",");%>
          <%var weightHistString = locals.exercises[i]["weightHist"].split(",");%>

          <%var setsHist = locals.exercises[i]["setsHist"].split(",");%>
          <%var repsHist = locals.exercises[i]["repsHist"].split(",");%>
          <%var weightHist = locals.exercises[i]["weightHist"].split(",");%>

            <%var highest = 0;%>
            <%var lowest = 100%>
            <%var highestMinusLowest%>

            <%for (let j = 0; j < setsHist.length; j++) {%>
              <%setsHist[j] = parseInt(setsHist[j]);%>
              <%if (setsHist[j] > highest) {%>
                <%highest = setsHist[j];%>
              <%}%>
              <%if (setsHist[j] < lowest) {%>
                <%lowest = setsHist[j];%>
              <%}%>
            <%}%>
            <%highestMinusLowest = highest - lowest;%>
            <%for (let j = 0; j < setsHist.length; j++) {%>
            <%setsHist[j] = ((setsHist[j] - lowest) / highestMinusLowest).toFixed(1);%>
            <%}%>

            <%for (let j = 0; j < repsHist.length; j++) {%>
              <%repsHist[j] = parseInt(repsHist[j]);%>
              <%if (repsHist[j] > highest) {%>
                <%highest = repsHist[j];%>
              <%}%>
              <%if (repsHist[j] < lowest) {%>
                <%lowest = repsHist[j];%>
              <%}%>
            <%}%>
            <%highestMinusLowest = highest - lowest;%>
            <%for (let j = 0; j < repsHist.length; j++) {%>
            <%repsHist[j] = ((repsHist[j] - lowest) / highestMinusLowest).toFixed(1);%>
            <%}%>

            <%for (let j = 0; j < weightHist.length; j++) {%>
              <%weightHist[j] = parseInt(weightHist[j]);%>
              <%if (weightHist[j] > highest) {%>
                <%highest = weightHist[j];%>
              <%}%>
              <%if (weightHist[j] < lowest) {%>
                <%lowest = weightHist[j];%>
              <%}%>
            <%}%>
            <%highestMinusLowest = highest - lowest;%>
            <%for (let j = 0; j < weightHist.length; j++) {%>
            <%weightHist[j] = ((weightHist[j] - lowest) / highestMinusLowest).toFixed(1);%>
            <%}%>

          <table class="charts-css area multiple">

            <tbody>

              <th scope="row"> Sets </th>
              <%for (let j = 1; j < setsHist.length; j++) {%>
                <tr>
                  <td style="--start: <%-setsHist[j-1]%>; --size: <%-setsHist[j]%>"> <span class="data"><%-setsHistString[j]%></span> </td>
                </tr>
              <%}%>

            </tbody>

          </table>

        <%}%>
          
      <%}%>

      </div>
      <%- include('partials/weights sidebar.ejs') %>
    </div>
  </div>
  <script>
  </script>
</body>

</html>